h1 {
    color: #679b9b;
    width: 100%;
}

h2 {
    text-align: center;
    color: #ff9a76
}

h3  {
    color: #bb2205
}

h4 {
    color: #637373
}

h1, h2, h3, h4 {
    font-family: 'Source Code Pro', monospace;
}

body {
    font-family: 'Fira Sans', sans-serif;
    margin: 0 500px 0 200px;
    color: black;
    background-color: #FEF7EC;
    max-width: 480px;
    margin:auto;
}

th {
    text-align: left;
  }

table, th, tr, td {
  border: 1px solid black;
  padding: 5px;
  line-height: 3ex;
  
}

ul {
    line-height: 3ex;

}

table {
    width: 480px;
    border-collapse: collapse;
}

p {
    line-height: 3ex;
  
}

.story {
    text-indent: 35px;
}

.center {
    text-align: center;
}